$light: #F7F7F7;
$main: #F72412;
$shadow:#040358;
$container-height: 45vw;

$ornament1-top: 20%;
$ornament1-left: 10%;
$ornament1-width: 25%;
@mixin skewx-hanger($deg){
  -ms-transform: skewX($deg); /* IE 9 */
    -webkit-transform: skewX($deg); /* Safari */
    transform: skewX($deg);
}
body {
background: $light;
  overflow: hidden;
  /* display: flex;
   align-items: center;
  justify-content: center;
  height: 100%;
   min-height: 100%;*/
}
.container{
    height:$container-height;
  width: 90vw;
 margin: auto;
  position: relative;
  //top: ((100vh-$container-height)/2)*.75;
border: 2px solid black;
}
.circle{
  border-radius: 50%;
  position: absolute;
}
.string{
  background: $main;
  position: absolute;
  width: .5%;
  top: -90%;
}
.string1{
  @extend .string;
  height:$ornament1-top+ 90%;
  left: $ornament1-left+ $ornament1-width/2-.25%;
}
.ornament-space{
   height: $ornament1-width*2;
  width: $ornament1-width;
}
.ornament-space1{
  position: absolute;
  top: $ornament1-top;
  left: $ornament1-left;
 @extend .ornament-space;
  //background: green;
}
.ornament-space2{
  position: absolute;
  top: $ornament1-top*1.5;
  left: $ornament1-left*3.75;
 @extend .ornament-space;
  //background: green;
}
.string2{
  @extend .string;
  height:$ornament1-top*1.5+ 90%;
  left: $ornament1-left*3.75+ $ornament1-width/2-.25%;
}
.ornament-space3{
  position: absolute;
  top: $ornament1-top*.5;
  left: $ornament1-left*6;
  @extend .ornament-space;
  //background: green;
}
.string3{
  @extend .string;
  height:$ornament1-top*.5+ 90%;
  left: $ornament1-left*6+ $ornament1-width/2-.25%;
}

.hanger{
  background: $shadow;
  position: absolute;
  top: 10%;
    left: 42%;
    width: 16%;
  height: 10%;
  overflow: hidden;
}
.hanger-light{
  background: $main;
  top: 0%;
    left: 20%;
  height: 80%;
  width: 90%;
  position: absolute;
  border-radius: 0 0 0 25%;
  @include skewx-hanger(15deg);
}
.hanger-circle{
  @extend .circle;
   background: $main;
  top: 0%;
    left: 44%;
    width: 12%;
  height: 12%;
}
.inner-circle{
   @extend .circle;
   background: $light;
  top: 20%;
    left: 20%;
    width: 60%;
  height: 60%;
}
.ornament{
   @extend .circle;
  top: 20%;
  left:10%;
  height: 80%;
  width: 80%;
  overflow: hidden;
  background: $light;
  .dot-row{
    top: 15%;
  left: 0%;
  
  }
  .dot-row2{
  top: 40%;
  left: 0%;
  }
  .dot-row3{
    top:65%;
    left: 0;
  }
  .dot-row4{
    top: 90%;
    left: 0%;
  }
  
  .dot{background: $main;}
}
.ornament-lit{
  background: $main;
  @extend .circle;
  top: -25%;
  left: 30%;
  height: 100%;
  width: 100%;
  box-shadow: -1vw -1vw 0 20vw $shadow;
  overflow: hidden;
  .dot-row{
    top: 40%;
  left: 0%;
  //  background: $light;
  }
  .dot-row2{
    top: 65%;
  left: 0%;
  }
  .dot-row3{
    top:90%;
    left: 0;
  }
  .dot{background: $light;}
}
.dot-row{
  //background: green;
  position: absolute;
  width: 100%;
  height: 3vw;
  z-index: 2;
  display: flex;
  display: -webkit-flex;
 justify-content: space-between;
}
.dot-row2{
  @extend .dot-row;
}
.dot-row3{
  @extend .dot-row;
}
.dot-row4{
  @extend .dot-row;
}
.dot-row-top{
  @extend .dot-row;
}
.dot{
  height: 2vw;
  width: 2vw;
  margin-top: .5vw;
   border-radius: 50%; 
}
.chevron{
  height: 4vw;
  width: 20%;
  box-sizing: border-box;
}
.chevron-l{
  @extend .chevron;
  transform: skew(-20deg);
}
.chevron-r{
  @extend .chevron;
  transform: skew(20deg)
}
.v-line{
  height: 4vw;
  width: 20%;
   box-sizing: border-box;
  
}
.ornament1{
  @extend .ornament;
  .dot-row{
    box-sizing: border-box;
    border-top: $main .25vw solid;
  }
  .dot-row-top{
    top: 0%;
  left: 0%;
  }
  .chevron-l, .chevron-r{
     background: $main;
    border: $shadow .25vw solid;
  }
 .v-line{
   background: $main;
    border: $shadow .25vw solid;
  }
}

.ornament-lit1{
  @extend .ornament-lit;
  
  .dot-row{
    box-sizing: border-box;
    border-top: $light .25vw solid;
    
    
  }
   .dot-row-top{
    top: 25%;
  left: 0%;
  }
   .chevron-l, .chevron-r{
     background: $light;
    border: $main .25vw solid;
     
  }
  .v-line{
    background: $light;
    border: $main .25vw solid;
  }
 
}
.ornament2{
  @extend .ornament;
}
.ornament-lit2{
  @extend .ornament-lit;
}
.ornament3{
  @extend .ornament;
}
.ornament-lit3{
  @extend .ornament-lit;
}


@media (min-aspect-ratio: 1/8) {
  .portrait-spacer {
    height: 25vw;
  }
}
@media (min-aspect-ratio: 5/4) {
  .portrait-spacer {
    height: 0px;
  }
}