$light: #F7F7F7;
$main: #F72412;
$shadow:#040358;
$ornament1-top: 20%;
$ornament1-left: 10%;
$ornament1-width: 25%;
@mixin skewx-hanger($deg){
  -ms-transform: skewX($deg); /* IE 9 */
    -webkit-transform: skewX($deg); /* Safari */
    transform: skewX($deg);
}
body {
background: $light;
  overflow: hidden;
}
.container{
    height:45vw;
  width: 90vw;
 margin: auto;
  position: relative;
//border: 2px solid black;
}
.circle{
  border-radius: 50%;
  position: absolute;
}
.string{
  background: $main;
  position: absolute;
  width: .5%;
  top: -90%;
}
.string1{
  @extend .string;
  height:$ornament1-top+ 90%;
  left: $ornament1-left+ $ornament1-width/2-.25%;
}
.ornament-space{
   height: $ornament1-width*2;
  width: $ornament1-width;
}
.ornament-space1{
  position: absolute;
  top: $ornament1-top;
  left: $ornament1-left;
 @extend .ornament-space;
  //background: green;
}
.ornament-space2{
  position: absolute;
  top: $ornament1-top*1.5;
  left: $ornament1-left*3.75;
 @extend .ornament-space;
  //background: green;
}
.string2{
  @extend .string;
  height:$ornament1-top*1.5+ 90%;
  left: $ornament1-left*3.75+ $ornament1-width/2-.25%;
}
.ornament-space3{
  position: absolute;
  top: $ornament1-top*.5;
  left: $ornament1-left*6;
  @extend .ornament-space;
  //background: green;
}
.string3{
  @extend .string;
  height:$ornament1-top*.5+ 90%;
  left: $ornament1-left*6+ $ornament1-width/2-.25%;
}
.ornament{
   @extend .circle;
  top: 20%;
  left:10%;
  height: 80%;
  width: 80%;
  overflow: hidden;
  background: $light;
  .dot-row{
    top: 25%;
  left: 0%;
  //  background: $main;
  }
  .dot{background: $main;}
}
.hanger{
  background: $shadow;
  position: absolute;
  top: 10%;
    left: 42%;
    width: 16%;
  height: 10%;
  overflow: hidden;
}
.hanger-light{
  background: $main;
  top: 0%;
    left: 20%;
  height: 80%;
  width: 90%;
  position: absolute;
  border-radius: 0 0 0 25%;
  @include skewx-hanger(15deg);
}
.hanger-circle{
  @extend .circle;
   background: $main;
  top: 0%;
    left: 44%;
    width: 12%;
  height: 12%;
}
.inner-circle{
   @extend .circle;
   background: $light;
  top: 20%;
    left: 20%;
    width: 60%;
  height: 60%;
}
.ornament-lit{
  background: $main;
  @extend .circle;
  top: -25%;
  left: 30%;
  height: 100%;
  width: 100%;
  box-shadow: -1vw -1vw 0 20vw $shadow;
  overflow: hidden;
  .dot-row{
    top: 50%;
  left: 0%;
  //  background: $light;
  }
  .dot{background: $light;}
}
.dot-row{
  //background: green;
  position: absolute;
  width: 100%;
  height: 3vw;
  
  z-index: 2;
  display: flex;
  display: -webkit-flex;
 justify-content: space-between;
}
.dot{
  height: 2vw;
  width: 2vw;
  margin-top: .5vw;
   border-radius: 50%;
  
  z-index: 3;
}
/*@media (min-aspect-ratio: 1/8) {
  .portrait-spacer {
    height: 25vw;
  }
}
@media (min-aspect-ratio: 5/4) {
  .portrait-spacer {
    height: 0px;
  }
}*/